.main{
    font-family: Arial, sans-serif;
    background-color: #fbfbfb;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#registration-form{
    margin: auto;
}
h1 {
    text-align: center;
    text-emphasis-color: white;
}

form {
    max-width: 400px;
    padding: 40px;
    background-color: rgb(100, 228, 100);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#error-message {
    color: red;
}

.errorMessage{
    background-color: rgb(167, 13, 13);
    color: white;
    padding: 10px;
    width: 52%;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 15px #1100116b;
    text-align: center;
    font-size: 18px;
}
.successMessage{
    background-color: rgb(4, 88, 4);
    color: white;
    padding: 10px;
    width: 52%;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 15px #1100116b;
    text-align: center;
    font-size: 18px;
}